<footer class="site-footer">
    <div class="container">
        <div class="column-five-twelfths">
            <div class="footer__about">
                <h2 class="tiny-logo">EveryPolitician</h2>
                <p>EveryPolitician is a project from the folks that brought you <a href="http://mapit.poplus.org/">MapIt</a>, <a href="http://sayit.poplus.org/">SayIt</a> &amp; <a href="http://popit.poplus.org/">PopIt</a>. EveryPolitician is a <a href="http://poplus.org">Poplus</a> project</p>
            </div>
        </div>
        <div class="column-seven-twelfths">
            <div class="footer__about">
                <nav role="navigation">
                    <a href="{{ site.baseurl }}/about">About</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
