<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link href="{{ site.baseurl }}/css/global.css" rel="stylesheet" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,400italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="popit-instance-url-template" content="{{ site.popit_instance_url_template }}" />
    <script src="{{ site.baseurl }}/assets/scripts/jquery-2.1.3.min.js"></script>
    <script src="{{ site.baseurl }}/assets/scripts/dropzone.min.js"></script>
    <script src="{{ site.baseurl }}/assets/scripts/main.js"></script>
</head>
