
@-webkit-keyframes pulse {
    0% {
        background-color: $colour_blue;
    }
    25% {
        background-color: $colour_green;
    }
    50% {
        background-color: $colour_blue;
    }
    75% {
        background-color: $colour_purple;
    }
}


.hero--homepage {
    top: -1px;
    position: relative;
    background-color: $colour_blue;
    -webkit-animation: pulse 60s infinite;
    color: $colour_white;
    h1 {
        @extend .secondary-heading;
    }
    .subtitle {
        opacity: 0.8;
    }
    a {
        color: $colour_white;
        opacity: 0.8;
        text-decoration: underline;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            opacity: 1;
        }
    }
}

.upload-area {
    position: relative;
}

.uploader {
    background-color: rgba(255,255,255,0.3);
    min-height: 11em;
    max-width: 20em;
    margin: 4em auto 2em;
    @include vendor-prefix(border-radius, ($border_radius * 2));
    position: relative;
    border: 5px dashed rgba(0,0,0,0.2);
    transition: all $animation-short;
    &:hover {
        cursor: pointer;
        border-color: rgba(0,0,0,0.4);
        background-color: rgba(255,255,255,0.4);
        transition: all $animation-short;
        .drag-and-drop {
            color: rgba(0,0,0,0.5);
            transition: color $animation-short;
        }
    }
}

.drag-and-drop {
    color: rgba(0,0,0,0.3);
    font-weight: $body_typeface_bold;
    font-size: 1.5em;
    position: absolute;
    top: 27%;
    text-align: center;
    width: 100%;
    z-index: 50;
    text-transform: uppercase;
    transition: color $animation-short;
}

.dz-message {
    position: absolute;
    top: 50%;
    padding: 0 3em;
}

.homepage-map {
    @extend %page-section;
    h2 {
        text-align: center;
    }
}

.map-regions {
    margin-top: 3em;
}

.dz-preview {
    background-color: $colour_white;
    color: $colour_black;
    padding: 0 1em 1em;
    @include vendor-prefix(border-radius, $border_radius);
    @include vendor-prefix(box-shadow, (0 0 9px 1px rgba(0,0,0,0.2)));
    margin: 0 auto;
    min-height: 13em;
    max-width: 20em;
    width: 20em;
    z-index: 100;
    top: 0;
    left: 50%;
    margin-left: -10em;
    position: absolute;
}
