@import 'variables';

.image-replacement {
    overflow: hidden;
    text-indent: -1000%;
    white-space: nowrap;
}

@mixin clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

.centered {
    text-align: center;
}

.two-column-text {
  @media (min-width: $large_screen) {
        -webkit-columns: 20em 2;
           -moz-columns: 20em 2;
                columns: 20em 2;
        -webkit-column-gap: 1.5em;
           -moz-column-gap: 1.5em;
                column-gap: 1.5em;
        p {
            -webkit-column-break-inside: avoid;
                      page-break-inside: avoid;
                           break-inside: avoid;
        }
    }
}
