.site-header {
    background-color: $colour_white;
    color: $colour_black;
    padding: 1em 0 0;
    border-bottom: 1px solid $colour_borders;
    text-align: center;
    .container {
        @media (min-width: $medium_screen) {
            padding:  0 2em;
            position: relative;
        }
    }
}

.site-header__logo {
    margin: 0 auto 1em;
    @media (min-width: $medium_screen) {
        margin: 0;
    }
    a {
        color: $colour_black;
        letter-spacing: -4px;
        &:hover,
        &:active,
        &:focus {
            color: $colour_red;
        }
    }
}

.site-header__navigation {
    text-align: center;
    margin-top: 1em;
    font-size: 0;
    border-top: 1px solid lighten($colour_black, 5%);
    border-left: 1px solid lighten($colour_black, 5%);
    @media (min-width: $medium_screen) {
        border: 0;
        text-align: left;
        position: absolute;
        right: 0;
        top: 23px;
    }
    a {
        color: $colour_black;
        display: inline-block;
        font-size: 14px;
        width: 50%;
        padding: 1em 0;
        font-weight: bold;
        border-bottom: 1px solid lighten($colour_black, 5%);
        border-right: 1px solid lighten($colour_black, 5%);
        @include vendor-prefix(transition, background-color $animation-short);
        &:hover,
        &:active,
        &:focus {
            background-color: darken($colour_white, 5%);
            @include vendor-prefix(transition, background-color $animation-short);
        }
        @media (min-width: $medium_screen) {
            font-size: 16px;
            margin: 0 0.25em;
            padding: 0.5em 0.75em;
            border: 0;
            width: auto;
            @include vendor-prefix(border-radius, $border_radius);
        }
    }
}
